body {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 20px;
}

.navbar {
  margin-bottom: 0;
}

.row {
  padding: 5px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #1abc9c;
}

.navbar-default .navbar-brand:hover {
  color: #ffff;
}

.navbar-default .navbar-toggle {
  background-color: #1abc9c;
}

.navbar-brand {
  border: none;
}

.navbar-default {
  background-color: #2c3e50;
}

.navbar-default .navbar-nav>li>a {
  color: #ffff;
  text-transform: uppercase;
}

.navbar-default .navbar-brand {
  color: #ffff;
  text-transform: uppercase;
}

.green {
  background-color: #1abc9c;
}

.cl-green {
  color: #1abc9c;
}

.white {
  color: #ffff;
}

.black {
  color: #333333;
}

.darkblue_t {
  color: #2c3e50;
}

.blue {
  background-color: #3a546d;
}

.darkblue {
  background-color: #2c3e50;
}

.avatar {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.uppercase {
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

.fa-star {
  font-size: 32px;
}

.star {
  max-width: 400px;
  min-width: 100%;
  margin: 14px auto;
}

.margin-top {
  margin-top: 50px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.devider {
  width: 310px;
  margin: 0 auto;
}

.devider i {
  font-size: 32px;
}

.devider:before,
.devider:after {
  content: '';
  display: block;
  width: 40%;
  height: 5px;
  margin-top: 12px;
  border-radius: 2px;
  line-height: 4px;
  vertical-align: middle;
  background-color: #fff;
}

.devider:before {
  float: left;
}

.devider:after {
  float: right;
}

.devider.black:before,
.devider.black:after {
  background-color: #2c3e50;
}

.card {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
}

.content {
  transition: background 1s;
}

.content:hover {
  background: #1abc9c;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
  max-height: 512.766px;
}

.content:hover img {
  visibility: hidden;
}

.content .fa-plus {
  visibility: hidden;
}

.content:hover .fa-plus {
  visibility: visible;
}

.fa-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  font-size: 100px;
}

.padding-25 {
  padding: 25px;
}

.download {
  color: #ffff;
  font-size: 20px;
  background: none;
  border: 1px solid #ffff;
  margin: auto;
  padding: 16px 28px;
}

.download:hover {
  background: #ffff;
}

.fa-cloud-download-alt {
  margin-right: 5px;
}

.form-group{
  line-height: 2px;
}

.form-control {
  border: none;
  border-bottom: 1px solid lightgrey;
}
.form-group > label {
  margin-bottom: 10px;
  font-size: 20px;
  color: #2c3e50;
}

.send {
  background-color: #1abc9c;
  color: #ffff;
  font-size: 20px;
}

.fa-twitter, .fa-linkedin-in {
  margin-right: 10px;
  border: 1px solid #ffff;
  padding: 10px 11px;
  font-size: 15px;
  border-radius: 50%;
}

.fa-google-plus-g {
  padding: 10px 9px;
  font-size: 15px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #ffff;
}

.fa-facebook-f {
  padding: 10px 13px;
  font-size: 15px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #ffff;
}

@media all and (min-width: 992px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }
}

@media all and (max-width: 991px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 36px;
  }
}
